body {
    background-color: yellow;
}
h3 {
    color: red;
}
h4 {
    color: turquoise;
}
object {
    width: 1100px;
    height: 1100px;
}
#iframe {
    background-color: black;
    color: orange;
}
#again {
    font-size: 66px;
}

code {
    background-color: #0d0d0d;
}