
mixin images(image)
    tr.image
        td
            img(src="/img/"+repoName+'/'+image.path)
        td=image.indice
        td=image.singulier ? "Singulier":"Neutre"
        td
            form(method="POST", action="/repo/"+repoName+"/image/"+image.path+"/invert" id="form_"+image.path)
                button(id=image.path onchange='submitOnClick("'+image.path+'")') Inverser le statut

html
    head
        title 'Images of the Set'
        script
            include ../js/imageSet.js
        style
            include ../css/imageSet.css
            include ../css/bootstrap.min.css
    body
        div
            h1 List of images Sets
            table
                thead
                    td
                    td Statut
                    td Indice
                    td
                tbody
                    for image in sourceList
                        +images(image)

