div
    h2 Veuillez spécifier l'indice de cette image singulière
    form(method='GET' action='/repo/'+repoName+"/image/"+imagePath+"/new_hint")
        input(type='text' placeholder='Nouvel indice' name='hint')
        br
        input(type='submit')