
html
    head
        title "Ajout d'un repository'
        style
            include ../css/bootstrap.min.css
    body
        div
            h1 Upload your images
            h3 You can upload zipfiles only
            h3 Your zipfile will only contains jpg files
            form(action="upload" method="post" enctype="multipart/form-data")
                input(type="file" name="filetoupload")
                input(type="submit")

